<div class="container">

    <div class="header-logo">
		    <p>Boards</p>
  </div>
  <div class="line"></div>

  <h2>Sign in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class: 'text'  %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'field-size' %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'text'  %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'field-size' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation , class: 'text'  %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'field-size' %>
    </div>

    <div class="actions">
      <%= f.submit "Submit", class: 'button' %>
    </div>
  <% end %>
</div>